article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/* Colors */
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 5px;
  text-align: center; }

p {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 25px; }

.title-main {
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 5rem; }

.form-sliders {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem; }
  .form-sliders .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px; }
    .form-sliders .form-group label {
      font-size: 2rem; }

output {
  background-color: #e6e6e6;
  display: block;
  width: 40px;
  height: 30px;
  text-align: center;
  color: black;
  border-radius: 10px;
  font: bold 15px/30px sans-serif;
  left: 0;
  margin: 10px auto 0; }

.more-trigger {
  padding: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  -webkit-appearance: none;
  border: 2px solid black;
  font-size: 2rem;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  margin: 40px auto;
  transition: background-color 0.15s ease-in-out; }
  .more-trigger:hover {
    background-color: #9674F8; }

#grid {
  display: -ms-grid;
  display: grid;
  /* need to make these values dynamic so we can change col numbers */
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-column-align: stretch;
      justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-height: 100vh;
  grid-auto-flow: dense; }

.grid-item:after {
  content: '';
  display: block;
  width: 100%; }

.one-one {
  grid-area: span 1 / span 1;
  background-color: #F87474;
  background-image: linear-gradient(48deg, #F87474, #F874D2); }
  .one-one:after {
    padding-bottom: 100%; }

.two-one {
  background-color: green;
  grid-area: span 2 / span 1;
  background-image: linear-gradient(-110deg, #74F8D1, #F8F074); }
  .two-one:after {
    padding-bottom: 200%; }

.one-two {
  background-color: orange;
  grid-area: span 1 / span 2;
  background-image: linear-gradient(-160deg, #74B6F8, #9674F8); }
  .one-two:after {
    padding-bottom: calc(50% - 10px); }

.two-two {
  background-color: purple;
  grid-area: span 2 / span 2;
  background-image: linear-gradient(20deg, #9674F8, #F874D2); }
  .two-two:after {
    padding-bottom: 100%; }
